:root {
  --imm-grey-01: #ededed;
  --imm-grey-02: #cbcbcb;
  --imm-green: #017d27;
  --imm-blue: #0094f7;
  --imm-white: #ffffff;
  --imm-link: #ff2f42;
  --imm-link-hover: #160cad;
}
.hidden {
  display: none;
}
.imm-base {
  border-radius: 0;
  background-color: var(--imm-grey-01);
}
.imm-inner {
  padding: 0.25rem 0;
}
.btn-days {
  display: flex;
  padding: 0 0.25rem;
  background-color: var(--imm-grey-02);
}
.btn-day {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 0;
  background-color: var(--imm-blue);
  color: var(--imm-white);
}
.btn-day:hover, .btn-day.selected {
  box-shadow: 0px 0px 7px 3px #888888;
  border: 1px solid #fff;
  color: var(--imm-white);
}
.btn-day.today {
  background-color: var(--imm-green); 
  color: var(--imm-white);
}
.dayname-today {
  color: var(--imm-green);
  font-weight: bold;
}
.dayname-selected {
  color: var(--imm-blue);
  font-weight: bold;
}
.imm-advanced-link {
  font-size: 13px;
  text-align: right;
}
a.advanced-link {
  text-decoration: none;
  color: var(--imm-link) ;
}
a.advanced-link:hover {
  color: var(--imm-link-hover);
}

@media (max-width: 768px) {

    .btn-days {
      display: grid;
      padding: 10px;
    }
    .btn-day {
      padding: 7px;
      margin: 7px 0;
      font-size: 14px;
    }
}